#card-flex {
  @include flex();
  gap: 1.5em;
  flex-wrap: wrap;
 @include marginTop(3em);
  padding: 2em;
  #card-container {
    max-width: 350px;
    word-break:break-all;
    img {
      @include radius();
     height: 233px;
    }
    #card-data {
      h3 {
        @include marginTop(.5em);
        font-weight: 700;
        font-size: 1.3em;
      }
      
      #publication{
        font-weight: 500;
      }
    }
    #card-data,p{
    @include marginTop(1em);
    }
  }
}
