#header-container {
  @include flexAlignCenter();
  padding: 0 1em;
  justify-content: space-between;
  margin-bottom: 3em;
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  #nav {
    @include flex();
    gap: 1.5em;
    a {
      font-size: 1.2em;
    }
  }
}
