footer {
  margin-top: 5em;
  padding: 1.5em;
  #footer-container {
    gap: 1em;
    h3 {
      font-size: 1.4em;
    }
    div {
      gap: 0.7em;
    }
  }
  #footer-container,
  #footer-container div {
    @include flexAlignCenter();
  }
  #copyright {
    margin-top: 3em;
    border-top: 2px solid;
    @include justifyCenter();
    font-size: 1.2em;
    h4 {
      margin-top: 0.5em;
    }
  }
}
