@mixin flex {
  display: flex;
}

@mixin justifyCenter{
  @include flex();
  justify-content: center;
}
@mixin alignCenter{
  align-items: center;
}
@mixin flexAlignCenter{
  @include flex();
  @include alignCenter();
}
@mixin justifyAlignCenter{
  @include justifyAlignCenter();
  @include alignCenter()
}
@mixin underlineWithOffset{
  text-decoration: underline;
  text-underline-offset: 2px;
}

@mixin widthHeightFull {
  width: 100%;
  height: 100%;
}

@mixin radius{
  border-radius: 20px;
}

@mixin marginTop($value){
  margin-top: $value;
}

@mixin heroImage{
  width: 100%;
  height: 500px;
  @include radius();
}

@mixin lineHeight{
  line-height: 1.7em;
}