@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #231F20;
    color: rgb(228, 228, 228);
    font-family: Helvetica,sans-serif ;
}

/*Action color : #231F20 */